<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9fcdqype-pc_P-IvnEFLxwZNPNGOoQvA</string>
	<key>GCM_SENDER_ID</key>
	<string>319019961476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mainor.wordcards.wordCardsMainor2025Spring</string>
	<key>PROJECT_ID</key>
	<string>word-cards-mainor-2025-spring</string>
	<key>STORAGE_BUCKET</key>
	<string>word-cards-mainor-2025-spring.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319019961476:ios:0e141854fd767914eb86d1</string>
</dict>
</plist>